{% extends 'base.html' %}

{% block content %}
<p>{{ movies|length }} Titles</p>
{% if current_user.is_authenticated %}
<form method="post">
    Name <input type="text" name="title" autocomplete="off" required>
    Rate <input type="text" name="rate" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>
{% endif %}
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.rate }}
        <span class="float-right">
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            {% endif %}
            <a class="imdb" href="{{ movie.url }}"
                   target="_blank" title="Find this movie on IMDB">豆瓣</a>
        </span>
    </li>
    {% endfor %}
    当前页数：{{ paginate.page }}
    总页数：{{ paginate.pages }}
    一共有{{ paginate.total }}条数据
    <br>

    {% if paginate.has_prev %}
        <a href="/?page={{ paginate.prev_num }}">上一页</a>
    {% endif %}
    页码：
    {% for i in paginate.iter_pages() %}
        <a href="/?page={{ i }}">{{ i }}</a>
    {% endfor %}

    {% if paginate.has_next %}
        <a href="/?page={{ paginate.next_num }}">下一页</a>
    {% endif %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro">
{% endblock %}
